body {
  margin: 0;
  padding: 0;
}
.homepage-container {
  width: 100%;
  height: 100vh;
  background: url('../assets/background.jpg');
  background-position: center top;

  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homepage-container .box-1,
.box-2 {
  margin: 0;
  padding: 0;
  flex: 50;
}
.homepage-container .box-1 {
  height: 100%;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}

.box-1 a {
  color: white;
  text-decoration: none;
  border: 2px solid white;
  background-color: unset;
  padding: 10px 20px;
}
.box-1 a:hover {
  backface-visibility: hidden;
  transform: translateZ(0);
  -webkit-font-smoothing: subpixel-antialiased;
  transform: scale(1.1);
  transition: 0.2s;
}
@media screen and (max-width: 800px) {
  .homepage-container {
    font-size: 24px;
    background: -webkit-radial-gradient(
      bottom,
      rgb(60, 43, 51) 0%,
      rgb(43, 31, 36) 50%,

      rgb(22, 17, 22) 100%
    );
    background: -o-radial-gradient(
      bottom,
      rgb(60, 43, 51) 0%,
      rgb(22, 17, 22) 100%
    );
    background: -ms-radial-gradient(
      bottom,
      rgb(60, 43, 51) 0%,
      rgb(43, 31, 36) 60%,
      rgb(22, 17, 22) 100%
    );
    background: -moz-radial-gradient(
      bottom,
      rgb(60, 43, 51) 0%,
      rgb(22, 17, 22) 100%
    );
    background: radial-gradient(
      at bottom right,
      rgb(60, 43, 51) 0%,
      rgb(22, 17, 22) 100%
    );
  }

  .box-2 {
    display: none;
  }
  .box-1 h1 {
    margin: 10px;
  }
}
