body {
  margin: 0;
  padding: 0;
}
.homepage-container {
  width: 100%;
  height: 100vh;
  background: url('../assets/background.jpg');
  background-position: center top;

  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homepage-container .box-1,
.box-2 {
  margin: 0;
  padding: 0;
  flex: 50;
}
.homepage-container .box-1 {
  height: 100%;
  color: white;
  text-align: center;
}
.box-1 h1 {
  margin: 30% 0 15% 0;
}
.box-1 a {
  color: white;
  text-decoration: none;
  border: 2px solid white;
  background-color: unset;
  padding: 10px 20px;
}
